body {
  background-color:rgb(255, 255, 244) ;
}


img {
  float: inline-end;
}

h1 {
  color: lightskyblue;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: medium;
  line-height: 40px;
}


