body {
  background-color: whitesmoke ;
}


img {
  float: inline-end;
  border: 2px
  
}

h1 {
  color: lightskyblue;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: medium;
  line-height: 40px;
}

.About-Me {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  line-height: 60px;
  border: 2px
   
}

.About-Me p {
background-color:steelblue;

}


.about-me-title {
  font-size: larger;
}


.projects2 p {
  font-size: larger;
  background-color: steelblue;
}

.first-week {
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description1 {
  font-size: medium;

}

.description2 {
  font-size: medium ;
}
