body {
  background-color: whitesmoke ;
}


img {
  float: inline-end;
}

h1 {
  color: lightskyblue;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: medium;
  line-height: 40px;
}

.About-Me {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font size: large;
  line-height: 60px;
  border: 2px
  
}

.projects2 {
  font-size: larger;
}

.first-week {
  font-size: small;

}

